.navbar {
  position: sticky !important;
  top: 0;
  z-index: 99;
}

.center .card-img-top {
  object-fit: cover;
  height: 300px;
  border-radius: calc(0.25rem - 1px);
}

.card-img-top:hover {
  cursor: pointer;
}

.custom-container {
  background: rgb(90 82 82 / 50%);
}

.favorite {
  object-fit: cover;
  position: absolute;
  bottom: 15px;
  right: 15px;
  border-radius: 50px;
  padding: 12px;
  background: rgba(255, 255, 255, 0.2);
}

.favorite:hover {
  cursor: pointer;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.6);
}

.progress {
  z-index: 9999;
  position: fixed;
  width: 100%;
  top: 0;
}

.text-warning {
  text-align: center;
  font-size: medium;
  position: absolute;
  max-width: 100% !important;
  width: 100%;
}

.bg-light-1 {
  background-color: #e1e5e9 !important;
}

.detail {
  object-fit: cover;
  height: 500px;
}